pypdf
pillow
openpyxl
numpy
scipy
pandas
matplotlib
seaborn
geopandas
researchpy
requests
nltk
networkx
scikit-learn
plotly
bokeh
bqplot
dask
scrapy
tweepy
beautifulsoup4
prince
statsmodels
patsy
wikipedia
gensim
spacy
wordcloud
pyLDAvis
fanalysis
